{% extends 'app/base.html' %}
{% load static %}

{% block title %}
{{ user.username|capfirst }}'s Profile
{% endblock %}


{% block content%}

<div class="container cont-10 border-lg shadow rounded-4 mt-5 footer-mb-30 p-5">
    <div class="row">
        <div class="col col-auto">
            <img class="img rounded-circle" 
            src="{{ user.user_profile.profile_img.url }}" 
            alt="Profile image" 
            style="width: 175px; height: 175px;"
            > 
        </div>
        <div class="col col-md mt-5">
            <div class="wk-title">
                {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
            </div>
            <div class="wk-al text-muted">
                {% if user.user_profile.adventure_level == 'Traveller' %}
                <i class="bi bi-airplane"></i>
                {% elif user.user_profile.adventure_level == 'Adventurer' %}
                <i class="bi bi-signpost-split"></i>
                {% else %}
                <i class="bi bi-globe-americas"></i>
                {% endif %}
                {{ user.user_profile.adventure_level|title }}
            </div>
            <div class="mt-2 d-flex">
                <i class="bi bi-geo mt-1 me-1" style="color: #dc3545;"></i>
                <div class="mt-1">
                    {{ user.user_profile.location|title }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-11 mx-2 col-md mx-md-4 p-3 border-lg rounded-4 shadow-sm">
            <div class="mt-2">{{ user.user_profile.bio|capfirst }}</div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-11 mx-2 mt-4 col-sm-11 col-md mx-md-4 p-3 border-lg rounded-4 shadow-sm">
            <div class="d-flex justify-content-center">Destinations created</div>
            <div class="d-flex justify-content-center fs-5">{{ total_destinations_created }}</div>
        </div>
        <div class="col-11 mx-2 mt-4 col-sm-11 col-md mx-md-4 p-3 border-lg rounded-4 shadow-sm">
            <div class="d-flex justify-content-center">Visited destinations created</div>
            <div class="d-flex justify-content-center fs-5">{{ total_visited_destinations_created }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-11 mx-2 col-md mx-md-4 mb-3 p-3 border-lg rounded-4 shadow-sm">
            <div class="mb-2">Countries {{ user.first_name|capfirst }} has been to... </div>
            <div class="row">
                {% for country in user.user_profile.countries_visited %}
                <div class="col-auto mt-2">
                <div class="d-flex justify-content-center border-lg rounded-pill shadow-sm bg-light p-2">
                    <i class="bi bi-geo-alt pe-1" style="color: #dc3545;"></i>
                    {{ country.name|title }}
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
