{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Update Destination
{% endblock %}


{% block content %}

{% if messages %}
<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col col-auto">
            {% for message in messages %}
    
            {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% endif %}
                <div class="alert-heading">
                    {{ message }}
                </div>
                {% endfor %}

                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
{% else %}
{% endif %}

{% if messages %}
<div class="container mt-2 mb-5">
    <h1 class="places-header text-center">Update Destination</h1>
    <hr class="my-4">
    {% else %}
    <div class="container mt-5 mb-5">
    <h1 class="places-header text-center">Update Destination</h1>
    <hr class="my-4">
    {% endif %}
    <div class="p-4 border rounded-4 shadow">        
        <form method="POST" action="{% url 'workspace:update_destination' pk=destination.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mt-md-5">
                <div class="col col-md">
                    <div class="d-flex justify-content-center">
                        <img class="img rounded-4" src="{{ destination.image.url }}" alt="Destination image" style="width: 300px; height: 300px;"> 
                    </div>
                
                    <div class="form-group mt-3 ms-lg-5">
                        <label for="image">Change image: </label>
                        <input name="image" type="file" class="form-control-file">
                    </div>
                    {% if form.image.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.image.errors|striptags }}
                    </div>
                    {% endif %}
                </div>
                
                <div class="col col-md mt-3 mt-md-0">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input name="city" type="text" class="form-control text-muted" value="{{ destination.city|title }}" readonly>
                    </div>
                    {% if form.city.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.city.errors|striptags }}
                    </div>
                    {% endif %}
                
                <div class="row mt-3">
                    <div class="col col-md">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input name="country" type="text" class="form-control text-muted" value="{{ destination.country|title }}" readonly>
                        </div>
                        {% if form.country.errors %}
                        <div class="alert alert-danger my-3 p-1" role="alert">
                            {{ form.country.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md">
                    <div class="form-group">
                    <label for="adventure_type">Adventure Type</label>
                        <select name="adventure_type" multiple class="form-control">
                            {% if destination.adventure_type == 'Beach and ocean' %}
                            <option name="adventure_type" value="Beach and ocean" selected>Beach and ocean</option>
                            {% else %}
                            <option name="adventure_type" value="Beach and ocean">Beach and ocean</option>
                            {% endif %}

                            {% if destination.adventure_type == 'City attractions' %}
                            <option name="adventure_type" value="City attractions" selected>City attractions</option>
                            {% else %}
                            <option name="adventure_type" value="City attractions">City attractions</option>
                            {% endif %}

                            {% if destination.adventure_type == 'Sport event' %}
                            <option name="adventure_type" value="Sport event" selected>Sport event</option>
                            {% else %}
                            <option name="adventure_type" value="Sport event">Sport event</option>
                            {% endif %}

                            {% if destination.adventure_type == 'Outdoor activities' %}
                            <option name="adventure_type" value="Outdoor activities" selected>Outdoor activities</option>
                            {% else %}
                            <option name="adventure_type" value="Outdoor activities">Outdoor activities</option>
                            {% endif %}

                            {% if destination.adventure_type == 'Food and restaurants' %}
                            <option name="adventure_type" value="Food and restaurants" selected>Food and restaurants</option>
                            {% else %}
                            <option name="adventure_type" value="Food and restaurants">Food and restaurants</option>
                            {% endif %}

                            {% if destination.adventure_type == 'Historical landmarks' %}
                            <option name="adventure_type" value="Historical landmarks" selected>Historical landmarks</option>
                            {% else %}
                            <option name="adventure_type" value="Historical landmarks">Historical landmarks</option>
                            {% endif %}
                        </select>
                    </div>
                    {% if form.adventure_type.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.adventure_type.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-12 col-md mt-3 mt-md-0">
                    <div class="form-group">
                        <label for="climate">Climate</label>
                        <select name="climate" multiple class="form-control">
                            {% if destination.climate == 'Tropical' %}
                            <option name="climate" value="Tropical" selected>Tropical</option>
                            {% else %}
                            <option name="climate" value="Tropical">Tropical</option>
                            {% endif %}

                            {% if destination.climate == 'Subtropical' %}
                            <option name="climate" value="Subtropical" selected>Subtropical</option>
                            {% else %}
                            <option name="climate" value="Subtropical">Subtropical</option>
                            {% endif %}

                            {% if destination.climate == 'Temperate' %}
                            <option name="climate" value="Temperate" selected>Temperate</option>
                            {% else %}
                            <option name="climate" value="Temperate">Temperate</option>
                            {% endif %}

                            {% if destination.climate == 'Desert' %}
                            <option name="climate" value="Desert" selected>Desert</option>
                            {% else %}
                            <option name="climate" value="Desert">Desert</option>
                            {% endif %}

                            {% if destination.climate == 'Mediterranean' %}
                            <option name="climate" value="Mediterranean" selected>Mediterranean</option>
                            {% else %}
                            <option name="climate" value="Mediterranean">Mediterranean</option>
                            {% endif %}

                            {% if destination.climate == 'Highlands' %}
                            <option name="climate" value="Highlands" selected>Highlands</option>
                            {% else %}
                            <option name="climate" value="Highlands">Highlands</option>
                            {% endif %}

                            {% if destination.climate == 'Polar' %}
                            <option name="climate" value="Polar" selected>Polar</option>
                            {% else %}
                            <option name="climate" value="Polar">Polar</option>
                            {% endif %}
                        </select>
                    </div>
                    {% if form.climate.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.climate.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-12 col-md mt-3 mt-md-0">
                    <div class="form-group">
                    <label for="flight">Flight Length</label>
                        <select name="flight" multiple class="form-control">
                            {% if destination.flight == 'Quick' %}
                            <option name="flight" value="Quick" selected>Quick</option>
                            {% else %}
                            <option name="flight" value="Quick">Quick</option>
                            {% endif %}

                            {% if destination.flight == 'Short' %}
                            <option name="flight" value="Short" selected>Short</option>
                            {% else %}
                            <option name="flight" value="Short">Short</option>
                            {% endif %}

                            {% if destination.flight == 'Medium' %}
                            <option name="flight" value="Medium" selected>Medium</option>
                            {% else %}
                            <option name="flight" value="Medium">Medium</option>
                            {% endif %}

                            {% if destination.flight == 'Long' %}
                            <option name="flight" value="Long" selected>Long</option>
                            {% else %}
                            <option name="flight" value="Long">Long</option>
                            {% endif %}

                            {% if destination.flight == 'Very long' %}
                            <option name="flight" value="Very long" selected>Very long</option>
                            {% else %}
                            <option name="flight" value="Very long">Very long</option>
                            {% endif %}
                        </select>
                    </div>
                    {% if form.flight.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.flight.errors|striptags }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="mt-3">Activities:<span class="text-muted"> (optional)</span></div>
            <div class="row mt-2">
                <div class="col-12 col-md">
                    <div class="form-group">
                        <label for="activity1">Activity #1</label>
                        <input name="activity1" type="text" class="form-control" value="{{ destination.activity1 }}">
                    </div>
                    {% if form.activity1.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.activity1.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-12 col-md mt-3 mt-md-0">
                    <div class="form-group">
                        <label for="activity2">Activity #2</label>
                        <input name="activity2" type="text" class="form-control" value="{{ destination.activity2 }}">
                    </div>
                    {% if form.activity2.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.activity2.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-12 col-md mt-3 mt-md-0">
                    <div class="form-group">
                        <label for="activity3">Activity #3</label>
                        <input name="activity3" type="text" class="form-control" value="{{ destination.activity3 }}">
                    </div>
                    {% if form.activity3.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.activity3.errors|striptags }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-12 col-md mt-3 mt-md-0">
                    <div class="form-group">
                        <label for="activity4">Activity #4</label>
                        <input name="activity4" type="text" class="form-control" value="{{ destination.activity4 }}">
                    </div>
                </div>
                {% if form.activity4.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.activity4.errors|striptags }}
                    </div>
                {% endif %}
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md">
                    <div class="form-group">
                        <label for="notes">Notes<span class="text-muted"> (optional)</span></label>
                        <textarea name="notes" class="form-control" rows="3">{{ destination.notes }}</textarea>
                    </div>
                    {% if form.notes.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.notes.errors|striptags }}
                    </div>
                    {% endif %}
                </div>
                
                <div class="col-12 col-md-6">
                    <div class="form-check mt-3 mb-4 ps-0">
                        <div class="rounded-4 border border-danger p-3">
                            <div class="mb-3">Been to this destination? Click the checkbox below.</div>
                            <input name="has_user_visited" class="form-check-input ms-1" type="checkbox" value="True">
                            <label class="form-check-label ms-2" for="has_user_visited">
                                Change the status to Visited
                            </label>
                        </div>
                    </div>
                    {% if form.has_user_visited.errors %}
                    <div class="alert alert-danger my-3 p-1" role="alert">
                        {{ form.has_user_visited.errors|striptags }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6 justify-content-end mx-auto d-flex">
                    <button type="button" class="btn btn-dk-hp mt-4 px-4 ms-lg-4" 
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </button>
                </div>
                <div class="col-6 justify-content-start mx-auto d-flex">
                    <input id="form-submit" type="submit" class="btn btn-dk-hp px-4 mt-4 ms-lg-4" value="Update">
                </div>
            </div>
        </form>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{ destination.city|title}}?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>Are you sure you want to delete {{ destination.city|title }}, 
                            {% if destination.country|length <= 3 %}
                                <span class="text-uppercase">{{ destination.country }}</span></div>
                            {% else %}
                                {{ destination.country|title }}</div>
                            {% endif %}
                            destination?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dk-hp" data-bs-dismiss="modal">Cancel</button>
                            <a href="{% url 'workspace:delete_destination' pk=destination.id %}">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}